.clearfix:after{
	clear: both;
}
.wrapper{
	max-width: 100%;
	margin: auto;
	position: relative;
}
.login-wrapper{
	background: url(../images/login_bg.jpg);
	height: 100%;
	background-size: cover;
    padding-bottom: 0px;
}
.t-center{
	text-align: center;
}
#footer{
	background: #111;
	color: #fff;
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 100%;
}
#footer *{
	color: #fff;
	line-height: 40px;
}
.popup{
	position: absolute;
	width: 320px;
	height: 260px;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -160px;
	background: rgba(238,238,238,0.9);
	border-radius: 10px;
	box-shadow: #333 0px 0px 1px;
	padding: 20px;
	padding-top: 5px;
}
form div{
	margin: 15px 0px;
	color: #333;
}
form div.label{
	font-weight: bold;
}
form div input{
	background: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 60%;
	margin: auto;
}
div.button{
	background: rgba(42,136,206,0.8);
	color: #fff;
	border-radius: 4px;
	padding: 5px 30px;
	display: inline-block;
	cursor: pointer;
}
form div.button:hover{
	background: rgba(42,136,206,1);
}
form .forgot{
	font-size: 10px;
	margin-top: -20px;
	cursor: pointer;
}
#header{
	font-size: 12px;
	padding-top: 10px;
	position: relative;
	box-shadow: #ccc 0px 1px 15px;
}
#logout{
	position: absolute;
	right: 0px;
	top: 3px;
	z-index: 2;
}
#logout .button{
	padding: 3px 5px;
}
input.dateinput{
	width: 80px;
}
.radio_group div{
	display: inline-block;
	font-size: 12px;
}
.noradius{
	border-radius: 0px !important;
	padding: 5px 10px !important
}
.button.red{
	background: #d9534f;
}
.button.green{
	background: #5cb85c;
}
.button.gray{
	background: #ccc;
}
.fleft{
	float: left;
}
#header .button{
	margin-left: 10px;
}
select{
	padding: 5px 10px;
}
.main{
	font-size: 14px;
}
.mid{
	display: none;
}
.main_title{
	padding-top: 20px;
	font-size: 28px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}
.menu_title{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}
.left_menu{
	width: 250px;
	min-height: auto;
	background: #ccc;
	padding: 20px 0px;
	padding-bottom: 0px;
    margin-bottom: 40px;
	cursor: pointer;
}
.menu_item{
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #bbb;
	padding-left: 20px;
}
.menu_item.mitem{
	background: #555;
	color: #fff;
	border-bottom: 1px solid #eee;
}
.menu_item.mitem span{
	color: #fff;
}
.menu_item select{
	float: right;
}
.mitem .fa{
	float: right;
	padding-right: 15px;
	color: #fff !important;
	line-height: 34px;
	font-weight: 100;
}
.submenu{
	display: none;
	-webkit-transition: height .4s ease,opacity .3s ease;
    -o-transition: height .4s ease,opacity .3s ease;
    transition: height .4s ease,opacity .3s ease;
}
.submenu.openmenu{
	display: block;
}
.submenu .menu_item{
	padding-left: 40px;
}
.submenu .menu_item_sel{
	background: #eef;
}
.main_item{
	background: #aaa;
	color: #fff;
	text-align: center;
	height: 110px;
    max-width: 160px;
    min-width: 160px;
	cursor: pointer;
    margin: auto;
    display: inline-block;
    margin: 0px 15px;
    padding: 0px 10px;
    overflow: hidden;
}
.main_item.main_item_sel{
	background: #4a86e8;
}
.main_item:hover{
	background: #4a86e8;
}
.main_item .item_top{
	font-size: 16px;
	color: #fff;
	padding-top: 16px;
}
.main_item .item_title{
	font-size: 22px;
	color: #fff;
	padding-top: 5px;
}
.div_chart{
	padding-top: 20px;
	width: 100%;
	margin: auto;
	position: relative;
}
.chart{
	height: 300px;
}
.chart_slider{
	text-align: center;
}
.sitem{
	width: 50px;
	height: 40px;
	background: #ccc;
	margin: 10px 10px;
	display: inline-block;
	cursor: pointer;
}
.sitem_sel{
	background: #ff7f0e;
}
#mobile_header{
	display: none;
}
.header_wrapper{
	padding: 10px;
}
.bmobile{
	display: none;
}
.container{
	width: 90%;
}
.mchart_slider_item{
	display: none;
}
.div_empty{
	text-align: center;
	position: relative;
	top: 48%;
}
#bt_show, #bt_export{
	margin-top: 18px;
}
#loading{
	position: fixed;
	background: rgba(0,0,0,0.6);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none;
}
#loading div{
	border-radius: 10px;
	background: #fff;
	color: #333;
	padding: 20px 30px;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -80px;
	margin-top: -40px;
    font-weight: bold;
    letter-spacing: 2px;
}
#main_item_slider{
	float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

.mprev,
.mnext{
	display: none;
	position: absolute;
	top:20px;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}
.mprev i,
.mnext i{
    color: #1f77b4;
}
.mprev{
	left: 0;
}
.mnext{
	right: 0;
}
.slider_wrapper{
	margin: auto;
}


@media only screen and (max-width: 1023px) {

.wrapper{
	overflow-x: hidden;
	min-height: 480px;
}
.div_empty{
	top: 200px !important;
}
.bmobile{
	display: block;
}
.marrow{
	display: none !important;
}
#main_item_slider,
#main_item_wrapper{
	width: auto !important;
    margin: auto !important;
}
.popup{
	padding: 10px;
	width: 300px;
}
#header{
	display: none;
}
#mobile_header{
	display: block;
}
#username{
	color: #fff;
	font-size: 12px;
}
#mobile_header{
	background: #333;
	color: #fff;
	position: fixed;
	height: 50px;
	width: 100%;
	box-shadow: #ccc 0px 1px 15px;
	z-index: 1;
}
.menu_title{
	display: none;
}
#logout{
    right: 10px;
    top: 11px;
}
.mid {
	width: 100% !important;
}
.left_menu{
	min-height: auto;
	position: absolute;
    padding: 0px;
    width: 100%;
    top: 50px;
    z-index: 2;
    display: none;
}
#btn_menu{
    color: #fff;
    padding-left: 10px;
    font-size: 20px;
    line-height: 30px;
}
.main_item{
	max-width: 210px;
	height: 120px;
	margin: auto;
	display: none;
}
.main_item .item_top{
	padding-top: 15px;
}
.main_item .item_title{
	font-size: 28px;
}
.main_item.main_item_sel{
	display: block;
}
.mid .row .col-4{
	margin: 0px;
	width: 100%;
}
#sfilter{
    padding: 5px;
    padding-top: 55px;
    text-align: center;
}
.sfbox{
	margin: 0px 10px;
	display: inline-block;
}
#bottom_bar{
	padding: 5px;
	height: 20px;
	color: #fff;
	background: #888;
	position: fixed;
	bottom: 40px;
	width: 100%;
}
#bottom_bar div{
	width: 48%;
	text-align: center;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
.div_chart{
	padding-top: 5px;
}
.chart_slider{
	display: block;
	width: 100%;
	overflow-x: auto;
    padding-top: 5px;
}
.slider_wrapper{
	margin: auto;
}
.sitem{
	width: 120px;
	height: 54px;
    overflow: hidden;
}
.mchart_slider_item{
	display: block;
    padding-top: 10px;
}
.mchart_slider_item .item_top{
	font-weight: bold;
	line-height: 20px;
}
.mchart_slider_item .item_top,
.mchart_slider_item .item_title{
	font-size: 14px;
}
.mchart_slider_item .item_title{
	display: none;
}
.main_title{
	padding-bottom: 5px;
	padding-top: 10px;
}

}
.sprev,
.snext{
	display: none;
	cursor: pointer;
}
@media only screen and (max-width: 560px) {

.main_item{
    max-width: 120px;
    height: 65px;
}
.main_item .item_top{
	font-size: 14px;
    padding-top: 5px;
}
.main_item .item_title{
	font-size: 17px;
	padding-top: 3px
}
.slider_cont{
	position: relative;
}
.chart_slider{
	width: 140px;
	overflow: hidden;
}
.sitem{
	cursor: auto;
}
.sprev,
.snext{
	display: block;
	position: absolute;
	top:8px;
    font-size: 30px;
    padding: 10px
}
.sprev i,
.snext i{
    color: #1f77b4;
}
.sprev{
	left: 20%;
}
.snext{
	right: 20%;
}

}



/************ chart ************/

@media only screen and (min-height: 580px) {

.chart{
	height: 27vh !important;
}

}

@media only screen and (min-height: 670px) {

.chart{
	height: 35vh !important;
}

}

@media only screen and (min-height: 730px) {

.chart{
	height: 40vh !important;
}

}

@media only screen and (min-height: 800px) {

.chart{
	height: 45vh !important;
}

}

@media only screen and (min-height: 900px) {

.chart{
	height: 48vh !important;
}

}



@media only screen and (max-width: 560px) {


@media only screen and (min-height: 568px) {

.chart{
	height: 35vh !important;
}
.sfbox{
	margin: 0px;
}

}
@media only screen and (min-height: 666px) {

.chart{
	height: 42vh !important;
}

}


}


@media only screen and (max-width: 380px) {

.sprev{
	left: 14%;
}
.snext{
	right: 14%;
}

}